[Desktop Entry]
Name=Spotcheck
Comment=Spotcheck Application
Icon=/home/pi/Spotcheck/icon.ico
Exec=/home/pi/Spotcheck/app/spotcheck/spotcheck
Type=Application
Encoding=UTF-8
Terminal=false
StartUpNotify=true
Categories=None;
StartupNotify=false
